TASK-2

1.Perform regression and fit model to predict the values for the data in test data set

Importing required libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

To read the data we need to copy and paste the data link:

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Data-Science-and-AI/Machine_Learning/main/Assignments/Assignment1/test.csv?token=ASOAWEDUMXBM3L66TMAAIXTAHMT5G')

To read the first 5 rows and coloumns we use:

In [3]:
data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

To get information regarding the dataset we use

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

To get null values in each dataset

In [6]:
data.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

To Eliminate null values in each dataset

In [7]:
data['Cabin'] = data['Cabin'].fillna(0)

In [9]:
data.isna().sum()

PassengerId     0
Pclass          0
Name            0
Sex             0
Age            86
SibSp           0
Parch           0
Ticket          0
Fare            1
Cabin           0
Embarked        0
dtype: int64

In [11]:
data['Age'] = data['Age'].fillna(0)

In [12]:
data.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           1
Cabin          0
Embarked       0
dtype: int64

In [13]:
data['Fare'] = data['Fare'].fillna(0)

In [14]:
data.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

To drop the particular rows and perform operations

In [15]:
data.drop(['PassengerId','Name','Ticket','Fare','Cabin','Embarked'],axis=1,inplace=True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    object
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
dtypes: float64(1), int64(3), object(1)
memory usage: 16.5+ KB

To get Dummies

In [18]:
data2 = pd.get_dummies(data,drop_first=True)

In [19]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Age       418 non-null    float64
 2   SibSp     418 non-null    int64
 3   Parch     418 non-null    int64
 4   Sex_male  418 non-null    uint8
dtypes: float64(1), int64(3), uint8(1)
memory usage: 13.6 KB

In [20]:
x=data2.drop('Pclass',axis=1)
y=data2['Pclass']

From sklearn import required libraries to perform particular regression

In [22]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix

In [23]:
model=LogisticRegression()

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 0)

In [27]:
model.fit(x_train,y_train)

C:\Users\valpa\anaconda1\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [28]:
model.score(x_train,y_train)

0.6404109589041096

In [29]:
model.score(x_test,y_test)

0.6507936507936508

In [30]:
y_pred = model.predict(x_test)

In [31]:
accuracy_score(y_test,y_pred)

0.6507936507936508

In [32]:
cfm = confusion_matrix(y_test,y_pred)

In [33]:
cfm

array([[22,  0, 16],
       [ 1,  1, 24],
       [ 3,  0, 59]], dtype=int64)

2.Generate csv file containing only ‘Gender’ and predicted outcome ‘Parch’

In [39]:
data[['Parch','Sex']].to_csv('final.csv')

In [40]:
data

     Pclass     Sex   Age  SibSp  Parch
0         3    male  34.5      0      0
1         3  female  47.0      1      0
2         2    male  62.0      0      0
3         3    male  27.0      0      0
4         3  female  22.0      1      1
..      ...     ...   ...    ...    ...
413       3    male   0.0      0      0
414       1  female  39.0      0      0
415       3    male  38.5      0      0
416       3    male   0.0      0      0
417       3    male   0.0      1      1

[418 rows x 5 columns]